/* Button.css */
:root {
    /* --button-bg-light: whitesmoke; */
    --button-text-light: #333;
    --button-bg-dark: #333;
    --button-text-dark: whitesmoke;
  }
  
  .button {
    /* width: 90px;
    height: 50px; */
    border: none;
    margin: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
  }

  .hero .button {
    width: 90px;
    height: 50px;
    border: none;
    margin: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    background-color: #F2CC8F;
    color: #3D405B;
  }

  .Home .button {
    background-color: #F2CC8F;
    border-radius: 15px;
    color: #3D405B;
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    width: auto;
    height: auto;
  }

  .Home .button:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .Auth .button {
    list-style: none;
  }

  .CreateRecipe .button {
    background-color: #F2CC8F;
    border-radius: 15px;
    color: #3D405B;
    list-style: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 10px 20px;
    width: auto;
    height: auto;
  }
  
  .button-light {
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
  }
  
  .button-dark {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
  }

  @media (min-width: 640px) {
    .CreateRecipe .button {
    margin: 10px auto;
  }
  }