/* Button.css */
:root {
    --button-bg-light: whitesmoke;
    --button-text-light: #333;
    --button-bg-dark: #333;
    --button-text-dark: whitesmoke;
  }
  
  .button {
    width: 90px;
    height: 50px;
    border: none;
    margin: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
  }
  
  .button-light {
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
  }
  
  .button-dark {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
  }