.auth-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.error {
    color:#E07A5F;
    font-size: 20px;
}

.Auth .button {
    background-color: #F2CC8F;
    border-radius: 15px;
    color: #3D405B;
    list-style: none;
    display: block;
    margin: 12 auto;
    padding: 10px 20px;
    width: auto;
    height: auto;
  }

  .Auth .button:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  