/* DisplayCategories.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #3D405B;
    margin: 0;
    padding: 0;
  }
  
  /* Categories section */
  .categories-section {
    padding: 2rem;
    text-align: center;
  }
  
  .categories-section h2 {
    font-size: 2.5rem;
    margin: 2rem auto;
    border-bottom: 1px solid #333;
    padding-bottom: 0.5rem;
    color: #3D405B;
  }
  
  /* Category grid */
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
  }
  
  /* Category form */
  .category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .category-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 300px;
  }
  
  .category-form button {
    background-color: #F2CC8F;
    color: #3D405B;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  
  .category-form button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Error message */
  .error {
    color: #E07A5F;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }