.Hero .button {
    background-color: #F2CC8F;
    border-radius: 15px;
    color: #3D405B;
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    width: auto;
    height: auto;
  }

.Hero .button:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  