Footer styles

.footer-content {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 150px;
  margin: 0.5rem;
}

.contact-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-info {
  text-align: left;
}

.contact-info h4 {
  margin-bottom: 0.5rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.Footer .social-links a {
  /* color: whitesmoke; */
  color: #3D405B;
  text-decoration: none;
  transition: color 0.3s;
}

.Footer .social-links a:hover {
  color: #E07A5F;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid #444;
  padding-top: 0.5rem;
}