.profile-container {
  /* Consistent with .login-signup-container */
  /* border: 1px solid #3333339d; 
  box-shadow: 2px 2px 20px #333;  */
  /* width: 70%;
  
  margin-bottom: 30px;*/
  margin: 30px auto;
  padding: 2rem auto;
}

.profile-container h2 {
  font-size: 30px;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.profile-container form.common-form {
   border: none;
   border-radius: 10px;
   box-shadow: 2px 4px 10px #33333363;
    width: auto;
    padding-top: 40px;
    margin: auto 20px;
  }

.profile-container form.common-form label {
    text-align: start;
  }

.common-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Consistent with .common-form */
}

.common-form div {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 16px;
}

.common-form div input {
  height: 25px; /* Consistent with .common-form div input */
  border-radius: 5px;
  border: 1px solid #33333369;
}

.common-form button {
  align-self: center;
  background-color: #F2CC8F; /* Consistent with .Auth .button */
  border-radius: 15px;
  color: #3D405B;
  padding: 10px 20px;
  width: auto;
  height: auto;
  border: none; /* Added to remove default button border */
  cursor: pointer; /* Added for better UX */
  transition: box-shadow 0.3s; /* Added for smooth hover effect */
}

.common-form button:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* Consistent with .Auth .button:hover */
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px; /* Added margin for better spacing */
}

@media (min-width: 640px) {
  .profile-container form.common-form {
    display: block;
    margin: 0 auto;
    width: 500px;
  }

  .profile-container form.common-form input {
    margin-bottom: 10px;
  }

  .profile-container h2 {
    border-bottom: none;
  }
}